/* Footer brand paragraph stype */
.footerBrand-About {
    color: #8c94b8;
    margin-top: 10px;
}

/* Social icon style */
.socialIcon-Style {
    border: 1px solid white;
    padding: 2px;
    margin-left: 10px;
    border-radius: 5px;
    width: 23px;
    color: white;
}

.socialIcon-Style:hover {
    color: gray;
}

/* Privacy support style */
.privacy-Style>h4 {
    color: white;
    margin-bottom: 35px;
}

.privacy-Style>a {
    text-decoration: none;
    display: block;
    color: #8c94b8;
}

.privacy-Style>a:hover {
    color: white;
}

/* Copy right part style */
.copy-right {
    color: #d5d5d5;
    font-size: 15px;
}

.termCoockie-Style>a {
    text-decoration: none;
    margin-left: 15px;
    font-size: 13px;
    color: #d5d5d5;
}

/* Scree responsive part for copy right and support part */
@media all and (max-width:768px) {
    .termCoockie-Style,.copy-right,.brandImg-alignment {
        justify-content: center;
        display: flex;

    }
}
@media all and (max-width:768px) {
   
    .support-alignment>a,h4{
        display: block;
        text-align: center;
    }
    .brandImg-alignment{
        justify-content: center;
    }
}